

@font-face {
	font-family: "Intel Clear";
	src: url(IntelClear_Rg.ttf)
}

@font-face {
	font-family: "Intel Clear IE";
	src: url(IntelClear_Rg.eot)
}

@font-face {
	font-family: "Intel Clear";
	src: url(IntelClear_Bd.ttf);
	font-weight: bold
}

@font-face {
	font-family: "Intel Clear IE";
	src: url(IntelClear_Bd.eot);
	font-weight: bold
}

body {
	font-size: 100%;
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	margin: 0;
	background-attachment: fixed;
	height: 100%;
	background-color: #ff6fff;
	background-image: linear-gradient(bottom, #fffc57 0, #ff6fff 100%);
	background-image: -o-linear-gradient(bottom, #fffc57 0, #ff6fff 100%);
	background-image: -moz-linear-gradient(bottom, #fffc57 0, #ff6fff 100%);
	background-image: -webkit-linear-gradient(bottom, #fffc57 0, #ff6fff 100%);
	background-image: -ms-linear-gradient(bottom, #fffc57 0, #ff6fff 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fffc57), color-stop(1, #ff6fff))
}

a {
	color: #0872c5
}

#container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background: #fff
}

#left {
	width: 220px;
	float: left;
	padding: 15px 0 15px 20px
}

#logo {
	width: 250px;
	float: left;
	margin: 2px 5px 0 0
}

#title {
	float: left;
	margin-top: 8px;
	color: #00c6ff;
	font-size: 18px
}

#main {
	margin: 0 0 0 240px;
	padding: 15px 20px
}

#about {
	padding: 10px 20px 10px 10px;
	font-size: 100%;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #fea;
	box-shadow: 0 0 5px #aaa;
	position: relative
}

#about>#close {
	position: absolute;
	right: 7px;
	top: 7px;
	cursor: pointer
}

#info {
	font-family: "Oxygen Mono", "Monaco", monospace;
	float: right;
	color: #00c6ff;
	font-size: 120%;
	width: 10px;
	margin-top: 4px
}

#search_wrapper {
	padding-right: 4px;
	padding-left: 10px;
	margin-right: 29px;
	position: relative
}

#search_tokens {
	position: absolute;
	z-index: 2;
	padding: 6px 0 0 1px
}

#search {
	width: 100%;
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-size: 100%;
	padding: 5px 8px;
	border: 2px solid #00c6ff;
	-moz-border-radius: 19px;
	border-radius: 19px;
	color: #aaa;
	outline-width: 0
}

.search_token {
	display: inline-block;
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-size: 100%;
	padding: 1px 8px;
	border: 1px solid #ccc;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #eaf4ff;
	margin-left: 3px;
	cursor: pointer
}

#add {
	position: absolute;
	right: 7px;
	top: 2px
}

#clear {
	position: absolute;
	right: -7px;
	top: 7px;
	cursor: pointer
}

#intrinsics_list {
	overflow: hidden
}

.popbox {
	background-color: #fff;
	box-shadow: 0 0 5px #aaa;
	position: absolute;
	z-index: 99999;
	padding: 10px;
	display: none;
	font-size: 80%;
	border: 1px solid #ccc
}

.mono {
	font-family: "Oxygen Mono", "Monaco", monospace
}

b {
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-weight: bold
}


b.compat {
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 70%;
}

div.intrinsic,
div.tech,
div.othertech,
div.avx512tech {
	border-left: 10px solid;
	border-top: 1px solid;
	padding-left: 5px;
	margin: 1px 0 1px 0
}

div.MMX {
	border-color: #ff0
}

div.SSE {
	border-color: #b3f500
}

div.SSE2 {
	border-color: #62e800
}

div.SSE3 {
	border-color: #00b730
}

div.SSSE3 {
	border-color: #00a0a0
}

div.SSE4_1 {
	border-color: #006fbb
}

div.SSE4_2 {
	border-color: #0039eb
}

div.AVX {
	border-color: #7d00d3
}

div.AVX2 {
	border-color: #bf00bf
}

div.FMA {
	border-color: #de007d
}

div.FMA4 {
	border-color: #f094e0
}

div.XOP {
	border-color: #00fdc5
}


div.EXTRA {
	border-color: #ffac78
}

div.AVX_512 {
	border-color: #f77a84;
	position: relative
}

div.avx512tech {
	border-color: #f77a84
}

div.KNC {
	border-color: #ffa517
}

div.SVML {
	border-color: #00afef
}
div.SVML-EXTRA {
	border-color: #0095d5
}

div.Other {
	border-color: #ccc
}

div.othertech {
	border-color: #eee
}

div.alsoKNC {
	position: absolute;
	left: -10px;
	bottom: 0;
	width: 10px;
	height: 50%;
	border-top: 1px solid #fff;
	background-color: #ffa517
}

div.signature {
	font-family: "Oxygen Mono", "Monaco", monospace;
	cursor: pointer;
	padding-top: 2px
}

span.sig {
	color: #666
}

span.sig>span.rettype {
	color: #008
}

span.sig>span.name {
	color: #000
}

span.sig>span.param_type {
	color: #008
}

span.sig>span.param_name {
	color: #065
}

div.details {
	display: none;
	padding: 10px;
	font-size: 80%
}

div.details>h1 {
	font-size: 110%;
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-weight: bold;
	margin: 0
}

div.synopsis {
	font-family: "Oxygen Mono", "Monaco", monospace;
	padding: 10px;
	line-height: 130%
}

.instruction {
	float: right;
	font-family: 'Oxygen Mono', monospace;
	color: #bbb;
	font-size: 80%;
	margin-top: 2px
}

.instruction_note {
	color: #ac193a;
	font-family: "Intel Clear", "Intel Clear IE", "Tahoma", sans-serif;
	font-weight: bold;
	cursor: pointer
}

div.description {
	padding: 10px;
	font-size: 110%
}

.desc_note {
	padding: 10px;
	font-family: "Oxygen Mono", "Monaco", monospace;
	white-space: pre;
	font-size: 90%
}

.operation {
	padding: 10px;
	font-family: "Oxygen Mono", "Monaco", monospace;
	background: #f5f5f5;
	white-space: pre
}

span.desc_var {
	font-family: "Oxygen Mono", "Monaco", monospace;
	color: #065
}

table.performance {
	border-collapse: collapse;
	margin: 5px
}

table.performance th {
	font-weight: normal
}

table.performance td,
table.performance th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center
}

table.performance tr:first-child th {
	border-top: 0
}

table.performance tr:last-child td {
	border-bottom: 0
}

table.performance tr td:first-child,
table.performance tr th:first-child {
	border-left: 0;
	text-align: left
}

table.performance tr td:last-child,
table.performance tr th:last-child {
	border-right: 0
}





div.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dfdfdf;
  border-bottom: 1px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-color: #aaa;
  border-style: solid;
}

div.navigation li {
  float: left;
}

div.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

div.navigation li a:hover {
  background-color: #bf00bf;
  color: #fff;
  font-weight: bold;
}

div.navigation  li a.active {
  background-color: #7d00d3;
  color: #fff;
  font-weight: bold;
}
